.ipynb_checkpoints
__pycache__

DigitRecognizer/data/

DigitRecognizer/logs/

DigitRecognizer/checkpoint

DigitRecognizer/myDigitRecognizerNN\.data-00000-of-00001

DigitRecognizer/myDigitRecognizerNN\.index

DigitRecognizer/myDigitRecognizerNN\.meta

DigitRecognizer/tensorflowNeuralNetworkPredictions-FullSet\.csv

DigitRecognizer/tensorflowNeuralNetworkPredictions\.csv
